.nav{
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    top:0;
    background-color: white;
    position: sticky;
    padding:0rem 5rem;
}

.lista{
    display:flex;
    justify-content: space-between;
    gap:4rem;
    align-items:flex-start;
    list-style-type:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:rgb(86, 85, 85);
}
a:active{
    text-decoration: none!important;
    color: hotpink;
}
a:visited{
    text-decoration: none!important;
    color: purple;
}
.logo{
    display:flex;
    justify-content:space-around;
    gap:0.5rem;
    align-items: center;
}
.p{
    font-family: "Appetite-Rounded";
}
body{
    background-image: url("../img/fur.jpeg");
     background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}